*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    color: inherit;
}
/* FONTS */
@font-face {
    font-family: 'firaGo-regular';
    src: url(../fonts/fira-go/FiraGO-Regular.ttf);
}
@font-face {
    font-family: 'firaGo-medium';
    src: url(../fonts/fira-go/FiraGO-Medium.ttf);
}
@font-face {
    font-family: 'firaGo-light';
    src: url(../fonts/fira-go/FiraGO-Light.ttf);
}
@font-face {
    font-family: 'firaGo-extra-bold';
    src: url(../fonts/fira-go/FiraGO-ExtraBold.ttf);
}
@font-face {
    font-family: 'firaGo-light-italic';
    src: url(../fonts/fira-go/FiraGO-LightItalic.ttf);
}
@font-face {
    font-family: 'BPG-regular';
    src: url(../fonts/bpg/bpg_web_002_caps.ttf);
}
@font-face {
    font-family: 'BPG-ghalo-caps-regular';
    src: url(../fonts/bpg/bpg-glaho-web-caps-webfont.ttf);
}
/* FONTS */
/* variables */
:root {
    --main-bg-color: #FDFEFF;
    --secondary-color: #E8E8E8;
    --card-bg: #343645;
    --navigation-hover-state: #8A8FA3;
    --main-font: #707070;
    --about-card-bg: #137B7C;
    --card-buttons: #17EBEC;
    --details: #D4E2ED;
    --white: #fff;
    --main-font: #4F4646;
    --dark-text: #323232;
    --term-of-week-btn: #F5F8FD;

    /* font-size */
    --large: 20px;
    --medium: 16px;
    --small: 14px;
    --micro: 12px;
}
body{
    background-color: var(--main-bg-color);
}
.container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.container h1 {
    color: var(--main-font);
    line-height: 24px;
    padding: 30px 0 0 20px;
    font: normal normal 400 20px BPG-ghalo-caps-regular;
}
.bold{
    font-weight: bold;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 40px 0;
    border-bottom: 1px solid #343645;
    margin-bottom: 40px;
}
.nav-ul{
    display: flex;
    align-items: center;
    font-family: 'firaGo-regular';
}
.nav-link{
    color: var(--card-bg);
    transition: .3s ease-out;
}
.nav-link:hover{
    color: var(--navigation-hover-state);
}
.nav-link:last-child{
    margin-left: 92px;
}
.active {
    border-bottom: 3px var(--card-bg) solid;
    padding-bottom: 5px;
}
.site-logo a{
    color: var(--main-font);
    display: block;
    height: 38px;
}
.main-input-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
}
.main-input{
    width: 100%;
    height: 60px;
    border: 0;
    padding: 20px 20px 20px 55px;
    border-radius: 10px;
    border: 1px var(--details) solid;
}
.search-icon{
    position: absolute;
    top: 52%;
    left: 20px;
    transform: translateY(-52%);
}
.main-input:focus{
    outline: 0;
}
.term-of-week{
    color: var(--white);
    background-color: var(--card-bg);
    padding: 20px;
    box-shadow: 2px 10px 16px #00000029;
    border-radius: 10px;
}
.term-of-week h2{
    font: normal normal 400 24px BPG-regular;
    color: var(--white);
}
.term-of-week .see-details{
    color: #323232;
    background-color: var(--term-of-week-btn);
}
.term-of-week .see-details:hover{
    background-color: #E1E6EE;
}
.term-of-week-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.term-of-week-footer .hashtag-keywords{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.term-of-week-footer .hashtag-keywords span:hover{
    color: #8A8FA3;
}
.term-of-week .hashtag-keywords span:first-child{
    margin-right: 20px;
    line-height: 14px;
}
.term-title{
    margin: 12px 0;
    color: var(--details);
}
.term-title strong {
    text-transform: uppercase;
}
.term-title strong, .term-title span {
    font: normal normal 400 19px BPG-regular;
}
.term-detailed {
    color: var(--white);
    background-color: #343645;
    padding: 20px 20px 7px 20px;
    box-shadow: 2px 10px 16px #00000029;
    border-radius: 10px;
}
.term-detailed h2 {
    color: white;
    font-size: 12px;
    line-height: 24px;
    font-family: "firaGo-regular", sans-serif;
    font-weight: 100;
}
#term {
    color: #D4E2ED;
    margin-bottom: 30px;
    font: normal normal 400 18px BPG-ghalo-caps-regular;
    line-height: 21px;
}
#termDesc {
    margin-bottom: 25px;
    color: #FFFFFF;
    font-family: 'firaGo-medium', sans-serif;
    opacity: .8;
}
.example,
#termExample,
.desc-tag {
    opacity: .8;
}
.example {
    font: normal normal 300 12px/14px firaGo-regular;
}
.term-detailed p {
    font-size: var(--medium);
    line-height: 24px;
    color: var(--white);
    padding: 12px 0;
}
.content-differ {
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border: none;
    margin-bottom: 20px;
}
.term-detailed {
    border: 2px var(--card-bg) solid;
    border-radius: 5px;
    margin-bottom: 10px;
}
.example-flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.term-detailed .example-flexbox p {
    font-size: var(--medium);
    line-height: 24px;
    color: white;
    max-width: 578px;
    font-family: "firaGo-regular", sans-serif;
}

.term-detailed .example-img {
    border-radius: 10px;
}
.example-image {
    display: block;
}
.term-detailed .hashtag-wrapper span {
    font-size: 12px;
    line-height: 14px;
    color: white;
    margin-right: 20px;
    transition: .3s ease-out;
}
.term-detailed .hashtag-wrapper span:last-child {
    padding-right: unset;
}
.hashtag-wrapper a {
    display: inline-block;
}
.hashtag-wrapper a span:hover {
    color: #8A8FA3;
}
.terms-button-wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.terms-button-wrapper a {
    margin-right: 10px;
    background-color: white;
    color: #343645;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 15px;
    border-radius: 5px;
    border: 2px solid #3F4C5F;
    font-family: 'firaGo-regular';
    transition: .3s ease-out;
}
.terms-button-wrapper a:hover {
    background-color: #F5F8FD;
}
.terms-button-wrapper a:last-child {
    margin-right: unset;
}
.hashtag-keywords{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--micro);
    margin-top: 12px;
    cursor: pointer;
    font-family: 'firaGo-light-italic';
    line-height: 14px;
}
.term-of-week-footer .hashtag-keywords a{
    opacity: .8;
}
.card-footer .hashtag-keywords a:first-child{
    margin-bottom: 4px;
}
.card-footer .hashtag-keywords span:hover{
    color: #8A8FA3;
}
.hashtag-keywords span{
    font-family: 'firaGo-light-italic';
    transition: .3s ease-out;
}
.see-details{
    color: var(--card-bg);
    background-color: var(--details);
    padding: 10px 15px;
    line-height: 19px;
    border-radius: 5px; 
    font-family: 'firaGo-regular';
    transition: .3s ease-out;
    white-space: nowrap;
}
.see-details:hover{
    background-color: #BED1E0;
}
.term-cards-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.term-cards-wrapper h3 {
    font-family: 'firaGo-extra-bold';
    font-size: 16px;
}
.counter-wrapper{
    display: none;
}
.counter-wrapper span{
    font-family: 'firaGo-regular';
    line-height: 19px;
}
.not-found-message-wrapper{
    display: none;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}
.not-found-message{
    font-family: 'firaGo-regular';
    font-size: 22px;
    line-height: 27px;
    display: block;
}
.term-card{
    color: var(--card-bg);
    width: 346px;
    background-color: var(--white);
    margin: 20px 0;
    padding: 14px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 169px;
}
.term-header-underline {
    margin-left: 20px;
    margin-top: 10px;
    background-color: #8A8FA3;
    height: 2px;
    border: none;
    width: 175px;
}
.flex-wrap-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.card-header{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    min-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-header img {
    margin-right: 10px;
}
.term-header-title{
    display: flex;
    flex-direction: column;
    font-family: 'firaGo-extra-bold';
}
.term-icon{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.term-icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.card-body{
    width: 297px;
    height: 47px;
    font-family: 'firaGo-medium';
}
.week-term-description{
    max-height: 20px;
    max-width: 884px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'firaGo-medium';
}
.term-description{
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'firaGo-medium', sans-serif;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.about-project{
    padding: 20px;
    color: var(--dark-text);
    border-radius: 30px;
}
.about-title{
    display: inline-block;
    padding-bottom: 5px;
    /* font-size: var(--large);
    font-family: 'BPG-ghalo-caps-regular'; */
    margin-bottom: 22px;
    border-bottom: 3px solid #8A8FA3;
    font: normal normal 400 var(--large) BPG-ghalo-caps-regular;
    line-height: 25px;
}
.about-info{
    max-width: 986px;
    width: 100%;
    font: normal normal 400 16px firaGo-regular;
}
.pagination {
    max-width: 100%;
    text-align: center;
    padding: 32px 0 2px 0;
}
.pagination span {
    cursor: pointer;
}
.pagination-right-arrow, .pagination-left-arrow {
    display: inline-block;
    height: 20px;
    width: 20px;
}
.pagination-left-arrow{
    transform: rotate(-90deg);
    margin-right: 10px;
}
.pagination-right-arrow{
    margin-left: 10px;
    transform: rotate(-90deg);
}
.page-number{
    height: 26px;
    width: 26px;
    border-radius: 13px;
    font-size: 18px;
    line-height: 22px;
    padding: 2px 8px;
    transition: .2s ease-in-out;
}
.page-number.active-page {
    background-color: #8A8FA3;
    color: #fff;
}
#arrowLeft {
    pointer-events: none;
}
.footer {
    height: 160px;
    margin-top: 40px;
    padding: 20px 140px;
}
.error {
    margin-bottom: unset;
}
.center-element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    font: normal normal 400 var(--medium) firaGo-regular;
}
.footer-info{
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--small);
}
.footer-info::before{
    content: '';
    display: block;
    width: 513px;
    height: 1px;
    background-color: var(--main-font);
    margin-bottom: 30px;
}
.container .about-block {
    color: var(--main-font);
    background-color: var(--secondary-color);
    padding: 20px;
}
.container .about-block h2 {
    padding-bottom: 1rem;
}
.container .about-block p {
    padding: 10px 0;
    font-size: var(--medium);
    max-width: 950px;
    line-height: 19px;
}
.container .search-block {
    color: var(--main-font);
    padding: 20px;
}
.container .search-block .searchbar {
    height: 60px;
}
.container .search-block .searchbar form {
    height: 100%;
    position: relative;
}
.container .search-block .searchbar form svg {
    position: absolute;
    left: 20px;
    top: 20px;
    fill: var(--main-font);
}
.alphabet {
    width: 843px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.alphabet-wrapper {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}
.alphabet-wrapper span {
    font-size: var(--large);
    line-height: 24px;
    color: #8A8FA3;
    padding: 0 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.alphabet-wrapper span.active-letter{
    font-weight: bold;
    color: #3F4C5F;
}
.alphabet-button-wrapper{
    display: flex;
    justify-content: flex-end;
}
.alphabet-bg{
    height: 40px;
    width: 75px;
    background-color: var(--details);
    border-radius: var(--large);
    margin-left: auto;
}
.alphabet-switcher{
    height: 40px;
    width: 40px;
    background-color: #8A8FA3;
    border-radius: 20px;
    transform: translateX(0px);
    transition: .3s ease-out;
}
.switch-face {
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.alphabet-wrapper .lchange {
    cursor: pointer;
    margin-left: 60px;
    background-color: var(--card-bg);
    color: var(--white);
    font-size: var(--medium);
    line-height: 19px;
    padding: 10px 5px;
    border-radius: 50%;
}
.alphabet-wrapper .al-active {
    color: var(--card-bg);
}
.container .search-block .searchbar form select {
    font-size: var(--medium);
    line-height: 19px;
    height: 25px;
    padding-left: 10px;
    outline: none;
    border-radius: 0%;
    border: 1px var(--main-font) solid;
    color: var(--main-font);
}
#filter {
    width: 250px;
    position: absolute;
    left: 73%;
    top: 50%;
    transform: translate(-73%, -50%);
}
select{
    cursor: pointer;
}
#sort {
    width: 144px;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-95%, -50%);
}
#filter, #sort {
    border-radius: 5px;
    background-color: #F5F8FD;
    border: none;
    color: #4F4646;
}
.container .search-block input[type=text] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 29.5rem 0 3.2rem;
    font-size: var(--small);
    border-radius: 10px;
    border: 1.5px solid var(--details);
}
.meet-team-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 15.1%;
}
.team-member-card {
    position: relative;
    width: 272px;
    max-width: 100%;
    background: url(../media/png/default-user-image.png) center no-repeat;
    background-size: cover;
    margin: 20px 0;
    padding: 14px 20px 0px 20px;
    transition: .3s ease-out;
    border-radius: 10px;
}
.team-member-card .team-info {
    padding-top: 78.64%;
}
.team-member-card .team-info p {
    text-align: center;
    color: transparent;
    padding-bottom: 10px;
    transition: .3s ease-out;
}
.team-member-card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/png/default-user-image.png) center no-repeat;
    background-size: cover;
}
.team-member-card:hover .team-info p {
    color: var(--white);
}
.error-wrapper {
    max-width: 100%;
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #DADBDA; */
    padding: 120px 0 248px 0;
    box-shadow: inset 0px 3px 6px #00000029;
}
.error-wrapper h1 {
    font-size: 22px;
    color: var(--main-font);
    padding-bottom: 46px;
    font-family: "firaGo-regular", sans-serif;
    font-weight: 100;
    position: absolute;
    top: 30%;
}
.error-wrapper a {
    position: absolute;
}
.error-wrapper button {
    background-color: var(--card-bg);
    color: var(--white);
    padding: 9px 21px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    font-family: "firaGo-regular", sans-serif;
}

.background-svg {
    position: absolute;
    top: 17%;
   
}

/* swiper */
.swiper-wrapper{
    width: 83%;
}
.swiper {
    margin-top: 10px;
    width: 100%;
    height: 27px;
    display: none;
    padding-left: 40px;
  }
.swiper-slide {
    cursor: pointer;
    width: calc((100%)/10) !important;
}
/* swiper */
/* responsive */
@media (max-width:1140px) {
    .container {
        max-width: 991px;
    }
    .week-term-description {
        margin-bottom: 10px;
    }
}
@media (max-width: 1080px){
    .container {
        max-width: 868px;
    }
    .term-cards-wrapper{
        justify-content: space-around;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
    .alphabet {
        display: none;
    }
    .swiper{
        display: block;
    }
    .counter-wrapper {
        margin-top: 30px;
    }
    #filter {
        top: 85px;
        left: 180px;
    }
    #sort {
        top: 85px;
        left: 400px;
    }
    .term-detailed .example-flexbox p {
        max-width: 490px;
    }

}
@media (max-width: 860px) {
    .container {
        max-width: 700px;
    }
    .term-detailed .example-flexbox p {
        max-width: 390px;
    }
    .see-details {
        padding: 10px 5px;
    }
}
@media (max-width: 769px) {
    .container{
        max-width: 608px;
    }
    .term-of-week{
        padding: 20px 10px 10px 20px;
    }
    .term-card {
        width: 296px;
    }
    .card-body {
        width: 250px;
    }
    .week-term-description{
        margin-bottom: 20px;
        max-height: 63px;
    }
    .term-of-week .see-details{
        padding: 12px 4px 11px 5px;
        font-size: var(--small);
        min-width: 104px;
        min-height: 40px;
    }
    .alphabet-wrapper span {
        padding: 0 2px;
    }
    .example-img {
        width: 160px;
    }
    .term-detailed .example-flexbox p {
        max-width: 290px;
    }
}
@media (max-width: 670px) {
    .container {
        max-width: 570px;
    }
    .nav-link {
        font-size: var(--small);
    }
    .nav-link:last-child {
        margin-left: 55px;
    }
    #dictionary-search{
        padding-right: 0;
    }
    .term-card,
    .card-body {
        width: 100%;
    }
    .term-detailed .example-flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .term-detailed .example-img-wrapper {
        margin-bottom: 11px;
    }
    .example-img {
        width: 100%;
    }
    #termExample {
        max-width: 100%;
    }
    .see-details {
        padding: 10px 15px;
    }
}
@media (max-width: 620px) {
    .container {
        max-width: 500px;
    }
    .terms-button-wrapper {
        flex-wrap: wrap;
    }
    .terms-button-wrapper a {
        margin: 10px;
    }
}
@media  (max-width: 580px) {
    .container {
        max-width: 450px;
    }
    .nav-link {
        font-size: var(--small);
        line-height: var(--small);
    }
    .nav-link:last-child {
        margin-left: 12px;
    }
    .footer {
        height: auto;
        padding: 5px 31px 36px 33px;
    }
    .footer-info::before{
        width: 233px;
        margin: 0 auto 20px auto;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 380px;
    }
    .nav-link {
        font-size: var(--small);
        line-height: var(--micro);
    }
    .nav-link:last-child {
        margin-left: 0;
        font-family: 'firaGo-regular';
        font-size: 12px;
    }
    .nav-li:not(:first-child){
        margin-left: 8px;
    }
    #filter {
        padding-left: 0;
        width: 116px;
        left: 86px;
    }
    #sort {
        top: 120px;
        left: 130px;
        padding-left: 0;
        width: 135px;
    }
    .term-cards-wrapper{
        margin-top: 50px;
    }
    .term-of-week-footer {
        flex-direction: column;
    }
    .term-of-week-footer .hashtag-keywords {
        align-self: flex-start;
        margin-bottom: 10px;
    }
    .term-of-week-footer .see-details {
        align-self: flex-end;
    }
    .swiper-wrapper{
        width: 88%;
        padding-right: 40px;
    }
    .swiper {
        padding: 0 25px ;
    }
    .example-img {
        width: 275px;
    }
}
@media (max-width: 380px) {
    .header{
        margin-top: 0;
        padding: 33px 0 20px 0;
    }
    .container {
        max-width: 318px;
    }
    .site-logo a img {
        width: 100px;
    }
    .nav-link:last-child {
        white-space: nowrap;
    }
    /* .nav-li:first-child {
        margin-left: 10px;
    } */
    .term-description, .card-body, .card-header {
        width: 240px;
    }
}
@media (max-width: 320px) {
    /* .nav-li:last-child {
        margin-left: 0px;
    } */
    
}